html, body{ background: #ffffff;margin:0;padding:0;width:100%;height:100%;color:#000000;font-size:17px;font-family: Calibri, Arial;min-width:319px;}
.empty{height:215px;}
.inline{display:inline-block; vertical-align:top;}
.container{width:950px;height:100%;min-width:950px;margin:auto;}
.wrapper{ min-height:100%;height:auto !important;height:100%;width:100%;margin:auto;min-width:950px;background-color:#242424;}
a{color:#1d84c5}
a:hover{ text-decoration:none;}

a[href^=tel]{color: #1d84c5}
img{borer:none;}

h1, h2, h3, h4 {padding:0;line-height: normal;color:#363635; text-transform:uppercase;}
h1{font-size:35px;margin:0 0 8px 0;font-weight:bold;}
h2{font-size:20px;margin:0 0 6px 0;}
h3{font-size:17px;margin:0 0 4px 0; font-weight:normal;}

::selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
::-moz-selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
svg:not(:root) { overflow: hidden; } 
.chromeframe { margin: 0.2em 0; background: #1e80be; color: black; padding: 0.2em 0; }


#top{width:100%;min-width:950px;height:45px;position:relative;}
.container a.logo{background:url(../images/logo.png)top center no-repeat; width:158px;height:25px;display:block;position:absolute;left:0px; top:12px;float:left;}
.login{width:140px;height:45px;float:right;border-right:1px solid rgba(255,255,255,0.1);border-left:1px solid rgba(255,255,255,0.1); text-align:center;line-height:45px;}
.login a{text-decoration:none;color:#7e7e7e;font-size:11px;text-transform:uppercase; font-family: 'allerregular';}
.login a span{text-transform:none !important;}
.login a:hover{color:#57c5a0;}
a.search{background:url(../images/search-icon.png)top center no-repeat;width:18px;height:21px;display:block;position:absolute;top:18px;right:165px;}
a.search:hover{background:url(../images/search-icon.png)0 -27px no-repeat;}
#navig{background-color:#fff;width:100%;height:60px;min-width:950px;}
.navigation{height:60px;width:556px;float:left;}
.navigation ul{margin:0 auto ;padding:0px;font-size:0px;height:60px; float:left;width:100%;}
.navigation li{list-style:none;height:60px;display:inline-block; vertical-align:top;*zoom:1;*display:inline;border-right:1px solid rgba(238,238,238,0.8);text-align:center;}
.navigation li a{display:block;height:60px;color:#242424;text-align:center; line-height:60px;font-size:16px;text-decoration:none; 
transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
padding:0 20px;
}
.navigation li:first-child{border-left:1px solid rgba(238,238,238,0.8);}
.navigation li a:hover{background-color:#57c5a0;color:#fff;}
.nav-right{float:right;width:180px;height:60px;text-align:center;}
.star{width:90px;float:left;line-height:60px;height:60px;border-right:1px solid #cccccc;border-left:1px solid #cccccc ;}
.star i{background:url(../images/star-icon.png) top center no-repeat;width:16px;height:19px;display:block;float:left;margin:20px -15px 0 20px;}
.star a{color:#ffffff;background-color:#adadad;padding:3px 4px;border-radius:5px;font-size:12px;-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;text-decoration:none;font-family: 'allerbold';}
.star a:hover{background-color:#57c5a0;}
.magazine{width:70px;float:left;line-height:60px;height:60px;float:right;border-right:1px solid #cccccc;}
.magazine i{background:url(../images/magazine-icon.png) top center no-repeat;width:16px;height:19px;display:block;float:left;margin:20px -15px 0 0;}
.magazine a{color:#ffffff;background-color:#adadad;padding:3px 4px;border-radius:5px;font-size:12px;-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;text-decoration:none;font-family: 'allerbold';}
.magazine a:hover{background-color:#57c5a0;}
.magazine a.current{background-color:#57c5a0;}
#slider{background:url(../images/slider-bg1.png);width:100%; height:461px;min-width:950px;float:left;}
.slider-content1{position:relative;}
.slider-content{width:430px;height:305px;display:block;position:absolute;top:75px;left:520px;}
.slider-price{font-size:13px;font-family: 'allerbold';color:#fff;background-color:#57c5a0;width:68px;height:68px;text-align:center;line-height:68px;margin:0 0 10px 0;}
.slider-content h1{font-size:40px;   font-family: 'aller_lightregular';font-weight:normal;text-transform:none;}
.slider-content p{font-size:20px;font-family: 'aller_lightregular';font-weight:normal;}
.slider-links{height:40px;width:180px;float:left;}
.slider-links ul{margin:0 auto ;padding:0px;font-size:0px;height:60px; float:left;width:100%;}
.slider-links li{list-style:none;height:40px;display:inline-block; vertical-align:top;*zoom:1;*display:inline;text-align:center;background-color:#fff;margin:0 2px;}
.slider-links li a{display:block;height:40px;color:#242424;text-align:center; line-height:40px;font-size:16px;text-decoration:none; 

padding:0 20px;
}
.slider-links li a.slider-eye{background:url(../images/eye-icon.png)11px 14px  no-repeat;}
.slider-links li a.slider-star{background:url(../images/star-icon.png) 11px 11px  no-repeat;}
.slider-links li a.slider-enter{background:url(../images/enter-icon.png)11px 14px  no-repeat;}
.slider-links li a.slider-magazine{background:url(../images/slider-magazine.png)11px 14px  no-repeat;}

.slider-links li a.slider-eye:hover{background:url(../images/eye-icon.png)11px -16px  no-repeat;}
.slider-links li a.slider-star:hover{background:url(../images/star-icon.png) 11px -32px  no-repeat;}
.slider-links li a.slider-enter:hover{background:url(../images/enter-icon.png)11px -29px  no-repeat;}
.slider-links li a.slider-magazine:hover{background:url(../images/slider-magazine.png)11px -16px  no-repeat;}
.slider-links li a.current{background:url(../images/slider-magazine.png)11px -16px  no-repeat;}
#slider img{float:left;position:absolute;top:0px;left:-50px;}
.rslides li{list-style:none;font-size:0px;}
.rslides {font-size:0px;}

ul#slider-pager {width:100%;background-color:#000000;);height:10px; text-align:center;padding:15px 0 0 0;margin:0;border:1px solid red;}
ul#slider-pager li{display:inline-block; vertical-align:top;*zoom:1;*display:inline;border:1px solid #FFF;margin:0 3px;
border-radius:1px;
-moz-border-radius:1px;
-webkit-border-radius:1px;
opacity:0.8;
transition: opacity 0.3s;
-moz-transition: opacity 0.3s;
-webkit-transition: opacity 0.3s;
-o-transition: opacity 0.3s;
 list-style:none;padding:0px;
}
ul#slider-pager li:hover{opacity:1;}
ul#slider-pager li.rslides_here{opacity:1; outline:none;border:1px solid red;}
 
#slider-pager img {float: left;}
#slider-pager .rslides_here a { background: transparent;padding: 0;}
